RewriteEngine on

# Перенаправление с /web на главную страницу
RewriteCond %{REQUEST_URI} ^/web/?$
RewriteRule ^(.*)$ index.php [L]

# Если файл или директория существуют, используем их напрямую
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Перенаправляем все запросы на index.php
RewriteRule . index.php
